<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moqi.scheduleminiprogrambackend.mapperService.PermissionMapper">

  <resultMap id="BaseResultMap" type="com.moqi.scheduleminiprogrambackend.po.Permission">
    <result column="openId" property="openId"/>
    <result column="sendAppointmentCount" property="sendAppointmentCount"/>
    <result column="sendStatusCount" property="sendStatusCount"/>
    <result column="sendCancelCount" property="sendCancelCount"/>
    <result column="sendMessageCount" property="sendMessageCount"/>
  </resultMap>

  <insert id="insert">
    insert into permission values (#{openId},0,0,0,0);
  </insert>

  <update id="updateAppointmentCount">
    update permission set sendAppointmentCount=sendAppointmentCount${option} where openId=#{openId};
  </update>
  <update id="updateStatusCount">
    update permission set sendStatusCount=sendStatusCount${option} where openId=#{openId};
  </update>
  <update id="updateCancelCount">
    update permission set sendCancelCount=sendCancelCount${option} where openId=#{openId};
  </update>
  <update id="updateMessageCount">
    update permission set sendMessageCount=sendMessageCount${option} where openId=#{openId};
  </update>
  <select id="getPermission" resultType="com.moqi.scheduleminiprogrambackend.po.Permission">
    select * from permission where openId=#{openId};
  </select>

</mapper>
